name: Publish RSS feeds to GitHub Pages

on:
  push:
    branches:
      - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run every day at 5:30 and 17:30:
    - cron:  '0 */2 * * *'
  workflow_dispatch:

env:
  CI: true
jobs:
  publish-feeds:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.17.2' # The Go version to download (if necessary) and use.
    # GitHub Actions unfortunately does not support retries;
    # this is a cumbersome method of retrying twice in case of errors:
    - run: go run main.go
    - name: Deploy to GitHub Pages
      run: |
        git config user.name $GITHUB_ACTOR
        git config user.email $GITHUB_ACTOR@users.noreply.github.com
        git remote add gh-pages-remote https://x-access-token:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git
        git fetch --no-recurse-submodules
        git worktree add ./gh-pages gh-pages
        cd gh-pages
        cp -r ../public/. .
        git add .
        git commit --message="Deploying to GitHub Pages from $GITHUB_SHA"
        git push gh-pages-remote gh-pages:gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_REPOSITORY: ${{ github.repository }}
